<h1><%= @owner.username %>'s plant fam</h1>
<ul>
<% @owner.plants.each do |plant|%>
<li>
<%= link_to plant.name, plant_type_path(plant.plant_type.id)%>
<%= button_to "Delete Plant", plant_path(plant.id), method: :delete%>
</li>
<li>
<%= button_to "Edit Plant Name", edit_plant_path(plant.id) %>
</li>
<%end%>
</ul>
<%= button_to "Add new plants to your plant family", new_plant_path, method: :get %>
<%= form_tag plant_type_path, :method =>  'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag("Search") %>
<% end %>
