<h1><%= @owner.username %>'s plant fam</h1>

<ul>
<% @owner.plants.each do |plant|%>
<%= link_to plant.name, plant_path(plant.id)%>

<%= button_to "Edit plant", "/plants/#{plant.id}/edit", method: :get %>
<%= button_to "Delete Plant", plant_path(plant.id), method: :delete %><br>
<%end%>
</ul>

<%= button_to "Add New Plants", new_plant_path, method: :get %><br><br>

<%= form_tag(plant_types_path, method: :get, id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Plants" %>
<%= submit_tag "Search" %>
<%end%>
<% if @plant_types.present? %>
  <%= render @plant_types %>
  <%else%>
  <%# <p>Sorry, there are no species containing the term(s) <%= params[:search] %></p>
  <%end%>
