<h1><%=@plant_type.species%></h1>
<img src= <%= @plant_type.img_url%>>
<h3><label>Plant Bio</label></h3>
<%=@plant_type.bio%><br><br>
<h3><label>Light Care:</h3></label>
<%=@plant_type.light%><br><br>

<%= button_to "Back To All Plants", plant_types_path, method: :get %>
<%= button_to "Add plant to your collection", new_plant_path, method: :get%>